@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.banner__btn-play, #toTop > i {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.button--primary, .button--grey, .button--green, .carousel, .header, .header__search-input, .header__search-icon, .header__result, .header__result-item > a, .tool-select, .tool__selected, .homeCinemaComplex__cinemas-item, .homeCinemaComplex .cine-list__item, .homeCinemaComplex .movies__session, .news__titles-item, .news .item-title, .news .list__title, .news .item-review > div > img, .app__link > span, .footer__content a, .footer__logo, .footer__copy-rights a {
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.banner__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 992px) {
  .hidden-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .hidden-on-desktop {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
}

input {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.app__carousel.slick-slider .slick-list {
  border-radius: 20px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.input {
  padding: 5px 0;
  text-indent: 5px;
}

.input:placeholder-shown {
  text-indent: 5px;
}

.button {
  outline: none;
  border: 1px solid transparent;
  border-radius: .5rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button--primary {
  background-color: #FA5238;
  color: #FFF;
}

.button--primary:active {
  background-color: #FFF;
  color: #FA5238;
  border: 1px solid currentColor;
}

@media only screen and (min-width: 64em) {
  .button--primary:hover {
    background-color: #FFF;
    color: #FA5238;
    border: 1px solid currentColor;
  }
}

.button--grey {
  background-color: #4A4A4A;
  color: #FFF;
}

.button--grey:active {
  background-color: #FFF;
  color: #4A4A4A;
  border: 1px solid currentColor;
}

@media only screen and (min-width: 64em) {
  .button--grey:hover {
    background-color: #FFF;
    color: #4A4A4A;
    border: 1px solid currentColor;
  }
}

.button--green {
  background-color: #108F3E;
  color: #FFF;
}

.button--green:active {
  background-color: #FFF;
  color: #108F3E;
  border: 1px solid #108F3E;
}

@media only screen and (min-width: 64em) {
  .button--green:hover {
    background-color: #FFF;
    color: #108F3E;
    border: 1px solid #108F3E;
  }
}

.button--more {
  padding: 1rem 1.5rem;
  background: #FFF;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  display: block;
  margin: auto;
}

.button--more:active {
  background: #FA5238;
  color: #FFF;
  border: 1px solid #FA5238;
}

@media only screen and (min-width: 64em) {
  .button--more:hover {
    background: #FA5238;
    color: #FFF;
    border: 1px solid #FA5238;
  }
}

@media only screen and (min-width: 48em) {
  .button--more {
    display: none;
  }
}

.scroll-bar--custom {
  scrollbar-width: thin;
  background-color: white;
  overflow-y: auto;
}

.scroll-bar--custom::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar--custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.scroll-bar--custom::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.scroll-bar--custom::-webkit-scrollbar-button {
  display: none;
}

.carousel {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  opacity: 0.4;
}

.carousel:hover {
  opacity: 1;
}

.carousel__btn--prev {
  left: 1.5rem;
  visibility: hidden;
}

@media only screen and (min-width: 64em) {
  .carousel__btn--prev {
    visibility: visible;
  }
}

.carousel__btn--next {
  right: 1.5rem;
  visibility: hidden;
}

@media only screen and (min-width: 64em) {
  .carousel__btn--next {
    visibility: visible;
  }
}

.border-separated--right:after {
  content: '';
  position: absolute;
  right: 0;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: white;
  border-right-color: rgba(238, 238, 238, 0.88);
}

.border-separated--bottom:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-bottom-color: white;
  border-color: rgba(238, 238, 238, 0.88);
}

.wrap {
  max-width: 94rem;
  margin: 0 auto;
}

.wrap-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap-info__left {
  width: 5rem;
  margin-right: 1rem;
}

.wrap-info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6rem);
}

.wrap-info__right h4,
.wrap-info__right p,
.wrap-info__right h5 {
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}

.wrap-info__right h4 {
  font-size: 1.6rem;
}

.wrap-info__right p {
  font-size: 1.4rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #949494;
  text-transform: capitalize;
}

.wrap-info__right h5 {
  font-size: 1.3rem;
  color: #FA5238;
  cursor: pointer;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: white;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:hover {
  opacity: 1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: center;
      flex-wrap: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__logo {
  width: 5rem;
  height: 5rem;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: center;
      flex-wrap: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: calc(100% - (10.5rem + 13.2rem + 10rem));
}

@media only screen and (max-width: 47.9375em) {
  .header__search {
    width: calc(100% - 6rem);
  }
}

.header__search-input {
  display: block;
  width: calc(100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  padding: .7rem 3rem .7rem .7rem;
  outline: none;
  font-family: "Roboto";
  font-size: 1.4rem;
  text-indent: 0.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__search-input:placeholder-shown {
  text-indent: .5rem;
}

.header__search-input:focus {
  border-color: #FA5238;
}

.header__search-input:focus + .header__result {
  opacity: 1;
  visibility: visible;
}

.header__search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.9rem;
  padding: 0.8rem;
  color: #949494;
  cursor: pointer;
}

.header__search-icon:hover {
  color: #FA5238;
}

.header__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  max-height: 19.5rem;
  top: 100%;
  left: 0;
  margin-top: .5rem;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  overflow: hidden;
  overflow-y: visible;
  border: 1px solid #949494;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
}

.header__result-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  padding: .3rem 1rem 0 1rem;
  background-color: #FFF;
  cursor: pointer;
}

.header__result-nav:first-child {
  font-weight: 500;
  font-size: 1.6rem;
  color: #FA5238;
}

@media only screen and (min-width: 48em) {
  .header__result-nav:first-child {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  .header__result-nav:nth-child(2) {
    display: none;
  }
}

.header__result-nav:hover {
  background-color: #FA5238;
  color: #FFF;
}

.header__result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: .3rem 1rem 0 1rem;
  background-color: #FFF;
  font-weight: 300;
}

.header__result-item > a {
  display: inline-block;
  width: calc(100% - 8rem);
  font-size: 1.4rem;
}

.header__result-item > a:hover {
  color: #FA5238;
}

.header__result-item > button {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.7rem;
}

.header__btn-buy {
  padding: .7rem 2rem;
  min-width: 13.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 47.9375em) {
  .header__btn-buy {
    display: none;
  }
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #9b9b9b;
  min-width: 10.5rem;
}

@media only screen and (max-width: 47.9375em) {
  .header__login {
    display: none;
  }
}

.header__login:hover {
  color: #FA5238;
  text-decoration: none;
}

.header__login > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.header__login > span {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.banner {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 47.9375em) {
  .banner {
    display: none;
  }
}

.banner__btn-play {
  opacity: 0;
  background-color: transparent;
  border: none;
}

.banner__carousel > .slick-dots {
  bottom: 60px;
}

.banner__carousel > .slick-dots li button:before {
  font-size: 1.5rem;
}

.banner__carousel > .slick-dots li button:before {
  color: #DDD;
}

.banner__carousel > .slick-dots li.slick-active button:before {
  color: #FA5238;
}

.banner__carousel-item > img {
  width: 100%;
}

.banner__carousel-item {
  position: relative;
}

.banner:hover .banner__btn-play {
  opacity: 1;
}

.banner .banner__btn-play:hover {
  opacity: 0.5;
}

.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  max-width: 94rem;
  height: 8rem;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: .6rem;
}

@media only screen and (min-width: 64em) {
  .tool {
    visibility: visible;
  }
}

.tool-item {
  position: relative;
  width: calc(70% / 4);
  background-image: url(../../img/dropdown-icon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
}

.tool-item:first-child {
  width: 30%;
}

.tool-item:last-child {
  background: none;
}

.tool-item:last-child > button {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 2rem;
}

.tool-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
  cursor: pointer;
}

.tool-select:hover {
  color: #FA5238;
}

.tool__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 1rem .5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  width: auto;
  min-width: calc((94rem * .7) / 4);
  max-height: 19.5rem;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: none;
}

.tool__selected-item {
  width: 100%;
  color: black;
  margin-top: .5rem;
  padding: 0.5rem;
}

.tool__selected-item:hover {
  border-radius: inherit;
  background: #60c5ef;
  color: #FFF;
}

.tool__selected-item:hover > span {
  color: #FFF;
}

.tool__selected-item > p {
  margin-bottom: 0;
}

.tool__selected-item > span {
  color: #949494;
  font-size: 1.2rem;
}

.tool__selected-movie {
  min-width: calc(94rem * .3);
}

.homeFilms {
  margin-top: 8rem;
}

@media only screen and (max-width: 47.9375em) {
  .homeFilms {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 48em) {
  .homeFilms {
    margin-top: 6rem;
  }
}

.homeFilms__title {
  margin-bottom: 2rem;
}

.homeFilms__inner {
  position: relative;
}

.homeFilms__carousel {
  display: none;
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
}

@media only screen and (min-width: 48em) {
  .homeFilms__carousel {
    display: block;
    max-width: 76.8rem;
  }
}

.homeFilms__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.8rem;
}

.homeFilms__card {
  max-width: calc(88rem / 4);
  height: calc((88rem / 4) * 1.4);
}

@media only screen and (min-width: 48em) {
  .homeFilms__card {
    max-width: calc(70rem/ 4);
    height: calc((70rem/ 4) * 1.4);
  }
}

.homeFilms__card-front {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.homeFilms__card-front > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.homeFilms .card {
  width: 100%;
  position: relative;
  -webkit-transition: .5s all ease-out;
  transition: .5s all ease-out;
  -webkit-transform: rotateY(0) scale(1);
          transform: rotateY(0) scale(1);
  border-radius: 1rem;
  overflow: hidden;
}

.homeFilms .card__hover-area:hover {
  overflow: hidden;
}

.homeFilms .card__hover-area:hover .card {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
}

.homeFilms .card__hover-area:hover .card-back {
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.homeFilms .card-front {
  -webkit-transition: .4 all linear;
  transition: .4 all linear;
  position: absolute;
  top: 0;
  width: 100%;
}

.homeFilms .card-front > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.homeFilms .card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: calc(88rem / 4);
  height: calc((88rem / 4) * 1.4);
  opacity: 0;
  -webkit-transition-delay: .17s;
          transition-delay: .17s;
  padding: 2em;
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 48em) {
  .homeFilms .card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: calc(70rem/ 4);
    height: calc((70rem/ 4) * 1.4);
  }
}

.homeFilms .card__title {
  text-transform: capitalize;
}

@media only screen and (min-width: 48em) {
  .homeFilms .card__title {
    font-size: 1.4rem;
  }
}

.homeFilms .card__info {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #949494;
}

.homeFilms .card__info p {
  margin-bottom: .5rem;
}

.homeFilms .card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5rem;
}

.homeFilms .card__rating p {
  margin-bottom: 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.homeFilms .card__rating > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1rem;
}

.homeFilms .card__rating-icon {
  width: 1rem;
}

.homeFilms .card__btn-play, .homeFilms .card__btn-buy {
  width: 30%;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (min-width: 48em) {
  .homeFilms .card__btn-play, .homeFilms .card__btn-buy {
    width: 100%;
  }
}

.homeFilms .card__btn-play {
  margin-top: auto;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48em) {
  .homeFilms__mobile {
    display: none;
  }
}

.homeFilms__mobile .card__hover-area {
  margin-bottom: 1rem;
}

.homeFilms__mobile--card {
  max-width: 100%;
  max-height: 21rem;
}

.homeFilms__mobile--card .card-back {
  max-width: 100%;
  max-height: 21rem;
}

.homeCinemaComplex {
  margin-top: 0.3rem;
  display: none;
}

@media only screen and (min-width: 48em) {
  .homeCinemaComplex {
    display: block;
  }
}

.homeCinemaComplex__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  margin-top: 3rem;
  height: 70.5rem;
  border: 1px solid rgba(238, 238, 238, 0.88);
  border-radius: 1rem;
}

.homeCinemaComplex__cinemas {
  width: 9rem;
  height: 100%;
  border-right: 1px solid rgba(238, 238, 238, 0.88);
}

.homeCinemaComplex__cinemas-item {
  position: relative;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  opacity: .5;
}

.homeCinemaComplex__cinemas-item > img {
  width: 5rem;
  height: 5rem;
}

.homeCinemaComplex__cinemas-item:hover, .homeCinemaComplex__cinemas-item.active {
  opacity: 1;
}

.homeCinemaComplex .cine-list {
  width: 28.2rem;
  height: 100%;
  border-right: 1px solid rgba(238, 238, 238, 0.88);
}

.homeCinemaComplex .cine-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 2rem;
  cursor: pointer;
  opacity: .5;
}

.homeCinemaComplex .cine-list__item.active, .homeCinemaComplex .cine-list__item:hover {
  opacity: 1;
}

.homeCinemaComplex .movies {
  width: calc(100% - 37.2rem);
  height: 100%;
}

.homeCinemaComplex .movies__item {
  padding: 2rem;
  position: relative;
}

.homeCinemaComplex .movies__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeCinemaComplex .movies__session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.5rem;
  width: calc(25% - 1rem);
  padding: 1rem;
  color: #9b9b9b;
  background-color: rgba(246, 246, 246, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  cursor: pointer;
}

.homeCinemaComplex .movies__session > span {
  font-size: 1.8rem;
  color: #108F3E;
}

.homeCinemaComplex .movies__session:hover > span {
  color: #FA5238;
}

.homeCinemaComplex .bhd span {
  color: #8bc541;
}

.homeCinemaComplex .lotte span {
  color: #ca4137;
}

.homeCinemaComplex .cinestar span {
  color: #df0d7a;
}

.homeCinemaComplex .galaxy span {
  color: #f60;
}

.homeCinemaComplex .mega span {
  color: #e5a813;
}

.homeCinemaComplex .dongda span {
  color: #9c9c9c;
}

.homeCinemaComplex .dcine span {
  color: #000;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.news .button--more {
  margin-top: 1rem;
}

.news__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
  cursor: pointer;
}

.news__titles-item {
  text-transform: capitalize;
}

@media only screen and (max-width: 47.9375em) {
  .news__titles-item {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 48em) {
  .news__titles-item {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 64em) {
  .news__titles-item {
    font-size: 2rem;
  }
}

.news__titles-item:hover, .news__titles-item.active {
  color: #FA5238;
}

@media only screen and (max-width: 47.9375em) {
  .news__titles-item:hover, .news__titles-item.active {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 48em) {
  .news__titles-item:hover, .news__titles-item.active {
    font-size: 2.0rem;
  }
}

@media only screen and (min-width: 64em) {
  .news__titles-item:hover, .news__titles-item.active {
    font-size: 2.4rem;
  }
}

.news__titles-item:not(:first-child) {
  margin-left: 3rem;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .item {
  padding: 0 0.5rem;
  width: 100%;
}

.news .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 48em) {
  .news .item-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.news .item-img {
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.news .item-title, .news .list__title {
  display: -webkit-box;
  font-size: 1.6rem;
  letter-spacing: 0.11rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.news .item-title:hover, .news .list__title:hover {
  color: #FA5238;
}

.news .item-content {
  display: -webkit-box;
  color: #949494;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.news .item-review {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news .item-review > div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 2rem;
  color: #949494;
}

.news .item-review > div > img {
  width: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.news .item-review > div > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.news .list__img {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}

.news .list__img > img {
  border-radius: 0.5rem;
}

.news .list__title {
  width: calc(100% - 6rem);
  color: #949494;
}

.app {
  margin-top: 5rem;
  padding: 120px 0 80px 0;
  background: url(../../img/backapp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
}

@media only screen and (min-width: 64em) {
  .app__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.app__left, .app__right {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 64em) {
  .app__left, .app__right {
    padding-left: 0;
    text-align: start;
    width: 50%;
    margin-bottom: 3rem;
  }
}

.app__title {
  line-height: 5rem;
  font-size: 3rem;
}

.app__content {
  font-size: 1.5rem;
  line-height: 1.42857143;
  margin-bottom: 3rem;
}

.app__button {
  padding: 1rem 2rem;
  text-transform: none;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.app__link {
  font-size: 1.6rem;
}

.app__link > span {
  text-decoration: underline;
  cursor: pointer;
}

.app__link > span:hover {
  color: #FA5238;
}

.app__left {
  margin-bottom: 8rem;
}

@media only screen and (min-width: 48em) {
  .app__left {
    margin-bottom: 5rem;
  }
}

.app__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 100%;
}

.app__img {
  padding: 0 28%;
}

.app__carousel {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 64em) {
  .app__carousel {
    padding: 1.5% 29.3% 0 29.3%;
  }
}

.footer {
  padding: 2rem 0px;
  background-color: #222;
  color: #949494;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  width: 50%;
}

@media only screen and (min-width: 64em) {
  .footer__item {
    width: calc(100% / 3);
  }
}

.footer__item:nth-child(2) {
  display: none;
}

@media only screen and (min-width: 64em) {
  .footer__item:nth-child(2) {
    display: block;
  }
}

.footer__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer__title {
  color: white;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content {
  width: 50%;
}

.footer__content a {
  display: block;
  color: #949494;
}

.footer__content a:hover {
  color: #FA5238;
}

.footer__logo {
  width: 3rem;
}

.footer__logo:hover {
  opacity: .5;
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__middle a:not(:first-child) {
  margin-left: 1.5rem;
}

.footer__middle:not(:first-child) {
  margin-top: 1.5rem;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__right a {
  margin: 0 5px;
}

.footer__line {
  text-align: center;
}

.footer__line hr {
  width: 70%;
  margin: 2rem auto;
  display: block;
  background-color: #4a4a4a;
}

.footer__copy-rights {
  text-align: center;
  margin-bottom: 3rem;
}

.footer__copy-rights a {
  text-decoration: underline;
  color: white;
}

.footer__copy-rights a:hover {
  color: #FA5238;
}

#toTop > i {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 5rem;
  right: 5rem;
  text-align: center;
  line-height: 4.5rem;
  font-size: 3rem;
  color: #949494;
  font-weight: bold;
  opacity: 1;
  border-radius: 50%;
  border: 1px solid transparent;
}

#toTop > i:active {
  color: #FA5238;
  border: 1px solid currentColor;
  opacity: 1;
}

@media only screen and (min-width: 64em) {
  #toTop > i:hover {
    color: #FA5238;
    border: 1px solid currentColor;
    opacity: 1;
  }
}

.page {
  width: 100%;
  height: 100vh;
  background: url("../../img/login-img/bg2.jpg") repeat center center;
}
/*# sourceMappingURL=main.css.map */