.border-separated--right {
    &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid #fff;
        border-right-color: rgb(255, 255, 255);
        border-right-color: rgba(238, 238, 238, .88);
    }
}

.border-separated--bottom {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        border-bottom: 1px solid #fff;
        border-bottom-color: rgb(255, 255, 255);
        border-color: rgba(238, 238, 238, .88);
    }
}