.carousel { 
    @extend %transition15;
        position: absolute;
        top: 50%;
        cursor: pointer;
        width: 4rem;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

    &__btn--prev {
        left: 1.5rem;
        visibility: hidden;
        @include responsive (desktop) {
            visibility: visible;
        }
    }

    &__btn--next {
        right: 1.5rem;
        visibility: hidden;
        @include responsive (desktop) {
            visibility: visible;
        }
    }
}



