@import '../layouts/header';
@import '../layouts/banner';
@import '../layouts/tool-buy-ticket';
@import '../layouts/homeFilms';
@import '../layouts/cinema-complex';
@import '../layouts/news';
@import '../layouts/app';
@import '../layouts/footer';

#toTop {
    position: fixed;
    bottom: 50px;
    right: 50px;

    &:focus {
        outline: none;
    }
}

#toTop i{
    @include size(5rem);
    @extend %transition50;
    text-align: center;
    line-height: 4.5rem;
    font-size: 3rem;
    color: $inactive-color;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 0.9;

    

    @media(hover: hover) {
        &:hover {
            color: $active-color;
            border: 1px solid currentColor;
            opacity: 1;
        }
    }
    // &:active {
    //         color: $active-color;
    //         border: 1px solid currentColor;
    //         opacity: 1;
    // }

        

}