@import '../layouts/header';
@import '../layouts/banner';
@import '../layouts/tool-buy-ticket';
@import '../layouts/homeFilms';
@import '../layouts/cinema-complex';
@import '../layouts/news';
@import '../layouts/app';
@import '../layouts/footer';

#toTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#toTop i{
    text-align: center;
    line-height: 45px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    color: $active-color;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid transparent;
    @extend %transition50;
    opacity: .6;

    &:hover {
        border: 1px solid currentColor;
        opacity: 1;

    }
}