@import '../layouts/header';
@import '../layouts/banner';
@import '../layouts/tool-buy-ticket';
@import '../layouts/homeFilms';
@import '../layouts/cinema-complex';
@import '../layouts/news';
@import '../layouts/app';
@import '../layouts/footer';



#toTop > i{
    position: fixed;
    @extend %transition50;
    @include size(5rem);
    bottom: 5rem;
    right: 5rem;
    text-align: center;
    line-height: 4.5rem;
    font-size: 3rem;
    color: $inactive-color;
    font-weight: bold;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid transparent;

    @include touchResponsive {
        color: $active-color;
        border: 1px solid currentColor;
        opacity: 1;
    }

}