// body {
//     background: url("../../img/login-img/bg2.jpg") repeat center center;
// }

.page {
    width: 100%;
    height: 100vh;
    background: url("../../img/login-img/bg2.jpg") repeat center center;
    position: relative;


    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 36rem;
        background-image: linear-gradient(to bottom, rgba(20, 50, 93, .9), rgba(8, 22, 48, .9));
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .45);
        text-align: center;
        padding: 1rem;
        border-radius: 1.5rem;
    }

    &__logo {
        display: block;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 2rem;

        &>img {
            @include size(100%);
            display: block;
        }
    }

    &__title {
        color: white;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__login {
        width: 50%;
        margin: 0 auto;
        color: white;

        & div {
            text-align: left;
        }

        & div:nth-child(3) {
            @include flex(center);
            
            &>label {
                padding: 0;
            }
            
        }



    }



}