$image-path: '../img/';

$colors: (
     red-dark: #fb4226,
     red-orange: #FA5238,
     green-light: #00ac4d,
     green-dark: #108F3E,
     grey-light: #949494,
     grey-lighter: #9b9b9b,
     black: #000,
     black-lighter: #4A4A4A,
     black-light: #333333,
     white: #FFF,
     blue-sky: #60c5ef,
);



$menu-color:#17181b;
$text-color: #000;
$primary-color:#FA5238;
$secondary-color:#108F3E;
$inactive-color:#949494;
$active-color:#FA5238;

$bhd-color:#8bc541;
$galaxy-color: #f60;
$cinestar-color: #df0d7a;
$dongda-color: #9c9c9c;
$mega-color:#e5a813;
$dcine-color: #000;
$lotte-color: #ca4137;


//font size

$name-title-size: 4rem;

//screen-width
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-screen: 1200px;


$font-sizes :(
    fz-0: 0.75rem,   //12px
    fz-1: 0.8125rem, //13px
    fz-2: 0.875rem, //14px
    fz-3: 1.8rem, 
    fz-4: 2rem,
    fz-5:2.4rem,
    fz-6:3.2rem,
);

$paddings : (
    p-1: 0.625rem,
    p-2: 1.5625rem,
    p-3: 1.2rem,
    p-4: 1.5rem,
    p-5:1.6rem,
    p-6:3.2rem,
);

$margins: (
    m-1:  10px,
    m-2: 15px,
    m-3: 20px,
    m-4:  30px,
);

$font-weights : (
    fw-1: 400,
    fw-2: 500,
    fw-3: 700,
);