@import './../components/buttons';

.banner-carousel {

    position: relative;

    .carousel-indicators {

        bottom: 50px;

        li {
            @include create-square(1vw);
            border: 1px;
            border-radius: 50%;
            background-color: #CCC;
            opacity: 1;
            
        }
        .active {
            background-color: c('red-orange');
        }
    }
    .carousel-control-next-icon  {
        @include create-square(5vw);
        background-image: url('../../img/next-session.png');
    }

    .carousel-control-prev-icon {
        @include create-square(5vw);
        background-image: url('../../img/back-session.png');
    }
    
    
}