.banner {
    position: relative;
    margin-top: 6rem;

    @include responsive(mobile) {
        display: none;
    }

    &__carousel {

        &.slick-dots li.slick-active button:before {
            color: $active-color;
        }

        &-item>img {
            width: 100%;
        }

        &:hover+.banner__btn-play {
            opacity: 1;
        }
    }

    &__btn-play {
        @extend %transition50;
        @extend %center-vertically;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    
}