.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
    opacity: 0.8;
    @extend %transition15;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    
    &:hover {
        opacity: 1;
    }
    
    &__inner {
        @include flex(center,space-between,center);
    }

    &__logo {
        width: 5rem;
        height: 5rem;

    }

    &__search {
        @include flex(center, space-between, center);
        position: relative;
        width: calc(50%);
        
        
        &-input {
            display: block;
            width: calc(100% - 2rem);
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .5rem;
            padding: .7rem;
            outline: none;
            font-family: "Roboto";
            font-size: 1.2rem;
            text-indent: 0.5rem;

            &:placeholder-shown { 
                text-indent: .5rem;
            }
        }

        &-icon {
            font-size: 1.5rem;
            color: $primary-color;
        }
    }

    &__search-result{
        @include flex(flex-start,flex-start,nowrap,column);
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
        background-color: white;

        &:first-child {
            border-radius: .5rem .5rem 0 0;
        }
    }




    &__login {
        @include flex(center, center);
        color: getColor(grey-lighter);
        &:hover {
            color:getColor(grey-lighter);
            text-decoration: none;
        }

        &>img {
            @include size(3rem);
            border-radius: 50%;
            margin-right: 1rem;
        }

        &>span {
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: capitalize;
        }
    }

}